/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f7fa;
  
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-size: cover;
}
